.club-detail-container {
  margin-top: 10vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  display: flex;
}
.club-detail-container .clubimgcontainer {
  width: 35%;
}
.clubimgcontainer .clubimg {
  width: 100%;
  border-radius: 24px;
}
.club-text-detail-container {
  width: 65%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 25px;
}
.club-text-detail-container button {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-family: 'Google Sans normal';
  font-size: 32px;
  text-align: left;
  border-top: 1.75px solid white;
  padding: 10px 0;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  cursor: pointer;
}
.club-text-detail-container button p {
  width: 100%;
  scale: 0.99;
  font-size: 24px;
  padding-top: 8px;
  transition:
    opacity 0.3 ease,
    max-height 0.5s ease;
}
.club-text-detail-container button span img {
  width: 100%;
}
.club-text-detail-container button .hyperlink-btn {
  border-radius: 8px;
  border: 2.66px solid #2541b2;
  background: #2541b2;
  color: white;
  font-family: 'Google Sans normal';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 130px;
}
.nameofclub{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nameofclub img{
    cursor: pointer;
}
.nameofclub h1{
    color: #FFF;
    font-family: 'Gilroy-Bold';
    font-size: 60px; 
    transform: translateY(4px);
}
.clubtype{
    border-radius: 8px;
    border: 2.66px solid #2541B2; 
    display: inline-block;
    padding: 10px 20px;
    margin-left: 25px;
    color: #FFF;
    font-family: 'Google Sans normal';
    font-size: 18px; 
    margin-top: 10px;
}
.similar{
    color: #FFF;
    font-family: 'Google Sans normal';
    font-size: 44px; 
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.similarClubContainer{
    display: flex;
    padding-left: 25px;
    gap: 16px;
    margin-bottom: 30px;
}

@media (min-width:1400px) {
    .club-detail-container .clubimgcontainer {
        width: 30%;
    }
    .club-text-detail-container{
        width: 70%;
    }
}