.header-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: black;
}
.hamContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;
}
.hamContainer div {
  height: 2px;
  background-color: #fff;
}
.hamline1,
.hamline3 {
  width: 42px;
}
.hamline2 {
  width: 30px;
}
.header-bg h1 {
  font-family: 'Gilroy-Bold';
  color: #fff;
  font-size: 60px;
  cursor: pointer;
  transform: translateY(2px);
}
.header-bg img {
  cursor: pointer;
}
