.hero-bg {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  height: 80vh;
}
.hero-link {
  border-radius: 24px;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: end;
  position: relative;
  transition: all 0.3s ease;
}
.hero-link-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    animation: rotate 10s linear infinite;
    transform-origin: center;
}
.hero-link-bg svg{
    animation: rotate 10s linear infinite;
    transform-origin: center;
    scale: 0.8;
    transition: all 0.3s ease;
}
.hero-link:hover .hero-link-bg svg rect ,.hero-link:hover .hero-link-bg svg circle,.hero-link:hover .hero-link-bg svg path{
    fill : #8987BE
}
.hero-link-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    padding-bottom: 24px;
}
.hero-link-label p{
    font-family: 'The 27 Club';
    text-transform: uppercase;
    font-size: 50px;
}
.marquee-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.marquee-container div{
    font-family: 'Google Sans normal';
}
.marquee-container div .span2{
    animation: marquee 10s linear infinite;
    display: inline-block;
}
.marquee-container div .span1{
    display: inline-block;
    animation: marquee 10s linear infinite;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes rotateContainer {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}