.hero-bg {
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 16px;
}
.hero-link {
  aspect-ratio: 1/1;
  border-radius: 24px;
}
