* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
}
html::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}

#root {
  height: 200vh; /* for testing */
  background-color: black;
}
.temp-section {
  height: 100vh;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: 'The 27 Club';
  src: url(./fonts/The27Club.otf);
}
@font-face {
  font-family: 'Google Sans normal';
  src: url(./fonts/GoogleSans-Regular.ttf);
}
